# Python files
__pycache__/
.venv/
venv/

# Django files

static/
media/
staticfiles/
db.sqlite3

# macOS files
.DS_Store

# NPM
/node_modules

# Include the node_modules/flowbite directory
!/node_modules/flowbite/dist/
!/node_modules/apexcharts/dist/

# Project Files
.env
