[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
brotli = "==1.1.0"
dj-database-url = "==2.1.0"
django = "==4.2.5"
gunicorn = "==21.2.0"
packaging = "==23.1"
sqlparse = "==0.4.4"
typing-extensions = "==4.7.1"
tzdata = "==2023.3"
whitenoise = "==6.5.0"
psycopg = "==3.1.10"
django-rosetta = "==0.9.9"
pillow = "==10.0.1"
phonenumbers = "==8.13.20"
django-environ = "==0.11.2"
django-storages = "==1.14"
awscli = "*"
boto3 = "==1.28.52"
botocore = "==1.31.52"
cachetools = "==5.3.1"
certifi = "==2023.7.22"
charset-normalizer = "==3.2.0"
dj-config-url = "==0.1.1"
idna = "==3.4"
jmespath = "==1.0.1"
polib = "==1.2.0"
protobuf = "==4.24.3"
psycopg-binary = "==3.1.10"
psycopg-pool = "==3.1.7"
pyasn1 = "==0.5.0"
pyasn1-modules = "==0.3.0"
python-dateutil = "==2.8.2"
requests = "==2.31.0"
rsa = "==4.9"
s3transfer = "==0.6.2"
six = "==1.16.0"
urllib3 = "==1.26.16"

[dev-packages]

[requires]
python_version = "3.11"
