[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,>=4.2"
gunicorn = ">=21.2,<22.0"
dj-database-url = ">=2.0,<3.0"
whitenoise = {version = "<7.0,>=6.0", extras = ["brotli"]}

[dev-packages]

[requires]
python_version = "3.11"
