{% extends "addressing/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ title_page }}
{% endblock %}

{% block header_title %}
    {{ title_page }}
{% endblock %}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4 md:mb-8">
    <div
      class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 h-64 md:h-64 max-w-sm">
      <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 h-full">
        <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
          <div class="flex items-center">
            <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center mr-3">
              <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 15V9m4 6V9m4 6V9m4 6V9M2 16h16M1 19h18M2 7v1h16V7l-8-6-8 6Z"/>
              </svg>
            </div>
            <div>
              <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">{{ total_communes }}</h5>
              <p class="text-sm font-normal text-gray-500 dark:text-gray-400"> {% translate "Commune(s)" %}</p>
            </div>
          </div>
          
        </div>

        <div class="grid grid-cols-2 h-full">
          <dl class="flex items-center">
              <dt class="text-gray-500 dark:text-gray-400 text-sm font-normal mr-1"></dt>
              <dd class="text-gray-900 text-sm dark:text-white font-semibold"><div class="flex -space-x-4 rounded-full bg-gray-200 dark:bg-darkBlue">
                {% for commune in communes|slice:"0:5" %}  
                  <a class="flex items-center justify-center w-10 h-10 text-xs font-medium random-color-element text-white border-2 border-white rounded-full hover:bg-800 dark:border-sky-900 hover:z-50" href="#">
                      <p>{{ commune.name|slice:"0:1" }}</p>
                  </a>  
                {% endfor %}
                <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-blue-800 border-2 border-white rounded-full hover:bg-blue-600 dark:border-sky-900" href="{% url 'addressing:communes' %}">+<span id="countCommune"></span></a> 
              </div></dd>
          </dl>
          <dl class="flex items-center justify-end">
            <a href="{% url 'addressing:communes' %}" class="text-gray-500 dark:text-gray-400 text-sm font-normal mr-1 flex flex-row space-x-2 hover:outline-1 hover:outline-gray-400 rounded-md bg-blue-500 dark:bg-gray-700 p-2" title="Province list">
              <dt id="percentageProvinceIncrease">More</dt>
              <dd><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </dd>
            </a>
          </dl>
        </div> 
      </div>
    </div>
    <!-- District -->
    <div class="relative border-2 rounded-lg border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 md:h-64 h-full max-w-sm">
      <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 h-full">
        <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
          <div class="flex items-center">
            <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center mr-3">
              <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
                <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
              </svg>
            </div>
            <div>
              <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1" id="totalUserAddress"></h5>
              <p class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ total_districts }} {% translate "district(s)" %}</p>
            </div>
          </div>
          
        </div>

        <div class="grid grid-cols-2 h-full">
          <dl class="flex items-center">
              <dt class="text-gray-500 dark:text-gray-400 text-sm font-normal mr-1">{{ random_district.name }}:</dt>
              <dd class="text-gray-900 text-sm dark:text-white font-semibold">{{ count_user_addresses_in_random_district }}</dd>
          </dl>
          <dl class="flex items-center justify-end">
            <a href="{% url 'addressing:districts' %}" class="text-gray-500 dark:text-gray-400 text-sm font-normal mr-1 flex flex-row space-x-2 hover:outline-1 hover:outline-gray-400 rounded-md bg-blue-500 dark:bg-gray-700 p-2" title="Province list">
              <dt id="percentageProvinceIncrease">More</dt>
              <dd><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </dd>
            </a>
          </dl>
        </div> 
      </div>
    </div>
    
    <!-- Province -->
    <div class="relative border-2 rounded-lg border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 md:h-64 h-full max-w-sm">
        <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 h-full">
          <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
            <div class="flex items-center">
              <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center mr-3">
                <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                  <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
                  <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
                </svg>
              </div>
              <div>
                <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1" id="countUserAddressInRandomProvince"></h5>
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ count_districts_in_province }} {% translate "district" %} (s)</p>
              </div>
            </div>
            <div>
              <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">
                <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
                </svg>
                <p id="percentageAddressIncrease"></p>
              </span>
            </div>
          </div>
          
          <h3 class="text-gray-500 dark:text-gray-400 capitalize w-full">{{ random_province.type }} </h3>
          <div class="static text-2xl text-gray-800 dark:text-sky-100 ">
            {{ random_province.name }}
          </div>

          <div class="grid grid-cols-2 pt-2 h-auto">
            <dl class="flex items-center">
                <dt class="text-gray-500 dark:text-gray-400 text-sm font-normal mr-1"></dt>
                <dd class="text-gray-900 text-sm dark:text-white font-semibold">
                  <div class="flex -space-x-4 rounded-full bg-gray-200 dark:bg-darkBlue">
                    {% for province in provinces|slice:"0:5" %}  
                      <a class="flex items-center justify-center w-10 h-10 text-xs font-medium random-color-element text-white border-2 border-white rounded-full hover:bg-800 dark:border-sky-900 hover:z-50" href="#">
                          <p>{{ province.name|slice:"0:1" }}</p>
                      </a>  
                    {% endfor %}
                    <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-blue-800 border-2 border-white rounded-full hover:bg-blue-600 dark:border-sky-900" href="{% url 'addressing:provinces' %}">+<span id="countProvince"></span></a> 
                  </div>
                </dd>
            </dl>
            <dl class="flex items-center justify-end">
                <a href="{% url 'addressing:provinces' %}" class="text-gray-500 dark:text-gray-400 text-sm font-normal mr-1 flex flex-row space-x-2 hover:outline-1 hover:outline-gray-400 rounded-md bg-blue-500 dark:bg-gray-700 p-2" title="Province list">
                  <dt id="percentageProvinceIncrease">More</dt>
                  <dd><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                  </dd>
                </a>
            </dl>
          </div> 
        </div>
    </div>
    <!-- Country -->
    <div class=" relative border-2 rounded-lg border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 h-64 md:h-64 max-w-sm">
      
      <img class="absolute z-0 rounded-lg aspect-video opacity-50 dark:opacity-20 w-full object-cover" src="{% if random_one_country.flag %}{{ random_one_country.flag.url }} {% else %} {% static 'img/no_image.jpg' %} {% endif %}" alt="{{ random_one_country.name }} flag"></img>
      <div class="absolute text-gray-800 dark:text-sky-100 pl-2.5 pt-2">
        <h3 class="text-2xl">{{ random_one_country.name }}<h3>
        <p class="text-normal text-gray-600 dark:text-gray-300">{% translate "Province(s): " %}{{ count_provinces_by_country }}</p>
      </div>
      
      <div class="absolute text-xl text-gray-800 dark:text-sky-100 pl-2.5 bottom-2">
          <div class="flex -space-x-4 rounded-full bg-gray-400 dark:bg-darkBlue p-2">
            {% for country in countries|slice:"0:5" %}
                <img class="w-10 h-10 object-cover border-2 border-white rounded-full dark:border-gray-800 hover:z-50 transition-all duration-300" src="{% if country.flag %} {{ country.flag.url }} {% else %} {% static 'img/no_image.jpg' %} {% endif %}" alt="{{ country.name }}">  
            {% endfor %}
            <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white dark:text-white bg-blue-800 border-2 border-white rounded-full hover:bg-blue-600 dark:border-sky-900" href="{% url 'addressing:countries' %}">+<span id="countCountry"></span></a> 
        </div>
      </div>
    </div>
  </div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 aspect-square md:aspect-[6/4] lg:aspect-[19/6] mb-4">
    <div class="w-full h-full">{{ map_html|safe }}</div>
  </div>
  
  </div>

{% endblock %}

{% block javascript %}
      <script>

        // Function to generate a random Tailwind CSS color class
        function getRandomColorClass() {
          const colors = [
            'bg-red-400',
            'bg-blue-400',
            'bg-green-400',
            'bg-yellow-400',
            'bg-purple-400',
            'bg-pink-400',
            'bg-gray-400',
            'bg-orange-400',
            'bg-teal-400',
            'bg-indigo-400',
            'bg-lime-400',
            'bg-sky-400',
            'bg-cyan-400',
            'bg-rose-400',
            // Add more color classes here
          ];
          return colors[Math.floor(Math.random() * colors.length)];
        }
      
        // Select all elements with the specified class
        const elements = document.querySelectorAll('.random-color-element');
      
        elements.forEach((element) => {
          // Generate a random Tailwind CSS color class
          const randomColorClass = getRandomColorClass();
          // Add the random color class to each element
          element.classList.add(randomColorClass);
        });


      // Calculate Percentage of Address Increase
      document.addEventListener("DOMContentLoaded", function() {
        const addressBeforeLast28Days = {{ count_address_28_days_before_last_28_days }};
        const addressLast28Days = {{ count_address_last_28_days }};
        let percentageAddressIncrease;

        if (addressBeforeLast28Days === 0 || addressBeforeLast28Days === null) {
          // If the denominator is zero, set the percentage to 100%
          percentageAddressIncrease = "100%";
        } else if (addressBeforeLast28Days === 0 && addressLast28Days > 0) {
          percentageAddressIncrease = "100%";

        } else if (addressBeforeLast28Days > 0 && addressLast28Days === 0) {
          // If the numerator is zero, set the percentage to 0%
          percentageAddressIncrease = "0%";

        } else if (addressLast28Days === 0 || addressLast28Days === null) {
          // If addressLast28Days is 0, display "n/a"
          percentageAddressIncrease = "n/a";
        } else {
          // Calculate the percentage as usual
          percentageAddressIncrease = Math.round((addressLast28Days / addressBeforeLast28Days) * 100) + "%";
        }
      
        document.getElementById("percentageAddressIncrease").innerText = percentageAddressIncrease;
      });
              
      
      
  </script>
  <script type="module">
    import { ShortNumberFormat } from '{% static "js/modules/short-number-format.js" %}';
  
      // Data to format and update
      const countUserAddressInRandomProvince = {{ count_user_addresses_in_random_province }};
      const totalProvinces = {{ total_provinces }} > 5 ? {{ total_provinces }} - 5 : 0;
      const totalCommunes = {{ total_communes }} > 5 ? {{ total_communes }} - 5 : 0
      const totalCountries = {{ total_countries }} > 5 ? {{ total_countries }} - 5 : 0;
      const totalUserAddresses = {{count_user_address}} > 0 ? {{ count_user_address }} : 0;
      
      
      const numbersToFormat = [
        { id: "countProvince", number: totalProvinces },
        { id: "countCommune", number: totalCommunes },
        { id: "countCountry", number: totalCountries },
        { id: "countUserAddressInRandomProvince", number: countUserAddressInRandomProvince },
        { id: "totalUserAddress", number: totalUserAddresses },
        // Add more objects for additional elements
      ];
  
    ShortNumberFormat(numbersToFormat);
  </script>
  
{% endblock %}