{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta class="meta-theme" name="color-scheme" content="light" data-other="dark"/>
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="cyan" />
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
      <title>
          {% block title %} Home - EZ Account {% endblock %}
      </title>
      {% include 'sources/links_head.html' %}
      {% include 'sources/style_head.html' %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body class="bg-gray-200 dark:bg-darkBlue2 font-mulish">
    <main class="flex flex-row w-full h-auto relative space-y-0">
        
        <!-- Side Navigation -->
        <sidenav class="z-auto hidden md:block h-screen w-[240px] sticky top-0">
            {% include 'auth/dash/layout/sidenav.html' %}
        </sidenav>
        <div class="w-full flex flex-col">
            <!-- Header -->
            <Section class="w-full h-20">
                {% include 'auth/dash/layout/header.html'%}
            </Section>
            <div class="w-full h-24 py-6 pl-6 text-start align-middle font-bold text-3xl text-gray-500
                dark:text-sky-600
                ">
                Account
            </div>
            <content class="w-full flex-grow h-full p-4 md:p-16 rounded-xl bg-white
                dark:bg-darkBlue2/90
                ">
                
                <div class="container">
                    {% block content %}

                    {% endblock %}
                    <h2 class="text-slate-900 dark:text-slate-400">Content Here</h2>
                </div>
            </content>

            <!-- Footer -->
            <footer class="-z-10 block w-full overflow-hidden bottom-0 sticky">
                {% include 'auth/dash/layout/footer.html' %}
            </footer>
        </div>
    </main>

    <!-- text/javascript -->
    {% include 'sources/body_scripts.html' %}

  </body>
</html>
