{% load static %}

{% comment %} <script type="text/javascript" src="{% static 'vendors/bootstrap5/js/bootstrap.min.js' %}"></script> {% endcomment %}
{% comment %} <script type="text/javascript" src="{% static 'js/utils.js' %}"></script> {% endcomment %}
<script type="module" src="{% static 'js/main.js' %}"></script>
<script src="{% static 'flowbite/dist/flowbite.min.js' %}" type="text/javascript"></script>
<script src="{% static 'flowbite/dist/datepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'apexcharts/dist/apexcharts.min.js' %}" type="text/javascript"></script>
<!-- Flowbite -->
