{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
  <!-- header -->
  <div class="w-full h-74 shadow-md align-middle">

      <nav class="flex flex-row justify-between container items-center">
        <div class="text-bold">
          EZ STARTUP
        </div>
        <div class="hidden md:block transition-all duration-200">
          <div class="flex flex-row space-x-4 h-74">
            <div class="">Products</div>
            <div class="">Services</div>
            <div class="">About</div>
            <div class="">Contact Us</div>
            <div class="">Quicks</div>
          </div>
        </div>
      </nav>

  </div>

  <div class="container flex flex-row justify-center items-center w-[90%] h-[90%]">
    <!-- Timing Section -->
    <div class="w-full md:w-1/2 md:h-screen justify-center items-center">
      <h1>TIMING HERE</h1>
    </div>

    <hr>
    <!-- MENU Section -->
    <div class="w-full md:w-1/2 md:h-screen justify-center items-center">
      <h2>QUICK ACCESS</h2>
      <div class="w-full grid grid-cols-3 gap-4">
        <div class="text-center">1</div>
        <div class="text-center">2</div>
        <div class="text-center">3</div>
        <div class="text-center">4</div>
        <div class="text-center">5</div>
        <div class="text-center">6</div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
