{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<nav class="border-gray-200 dark:bg-gray-900 px-4 md:px-10 py-4 w-full">     
  <div class="w-full flex flex-wrap items-center justify-between mx-auto">
      <div class="flex flex-row order-1 md:order-1">            
        <a href="/" class="flex items-center hover:scale-105 duration-200 no-underline">           
          <img src="{% static 'favicon.png' %}" 
            class="h-8 mr-3" alt="SmartPos Logo" />           
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-slate-200 drop-shadow-md">
            SmartPOS
          </span>       
        </a>
      </div>
    
      <div class="flex items-center order-2 md:order-3">         
        <div class="flex space-x-2">                         
          <div class="px-2">                                 
            <button id="theme-toggle"                   
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-full text-sm p-2 5">                                     
              <svg                     
                  id="theme-toggle-light-icon"                     
                  class="w-5 h-5 hidden"                     
                  fill="currentColor"                     
                  viewBox="0 0 20 20"                     
                  xmlns="http://www.w3.org/2000/svg">                     
                  <path                       
                  d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"                       
                  fill-rule="evenodd"                       
                  clip-rule="evenodd">                     
                </path>                   
              </svg>

              <svg                     
                id="theme-toggle-dark-icon"                     
                class="w-5 h-5 hidden"                     
                fill="currentColor"                     
                viewBox="0 0 20 20"                     
                xmlns="http://www.w3.org/2000/svg">                     
                <path                       
                  d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z">                     
                </path>                   
              </svg>
            </button>             
          </div>                                       
          <div class="relative">                 
              <button id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="flex mr-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">                   
                <span class="sr-only">
                  Open user menu
                </span>                   
                  {% if user.is_authenticated %}                     
                      {% with account_gallery=request.user.user_gallery.all %}                         
                      {% if account_gallery|length > 0 %}                             
                          {% with avatar=account_gallery|first %}                                 
                            <img class="w-8 h-8 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="{{ avatar.image.url }}" alt="Avatar{{ request.user.username}}">                             
                          {% endwith %}                         
                      {% else %}                                                         
                          <svg class="w-8 h-8 p-1 rounded-full text-gray-800 dark:text-white ring-2 ring-gray-300 dark:ring-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">                               
                            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>                             
                          </svg>                         
                      {% endif %}                         
                          <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
      
                                             
                      {% endwith %}                     
                  {% else %}                                             
                      <svg class="w-8 h-8 p-1 rounded-full text-gray-800 dark:text-white ring-2 ring-gray-300 dark:ring-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 18">                         
                          <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>                       
                      </svg>
                  {% endif %}                 
              </button>
      
              <!-- Dropdown menu -->
              <div id="userDropdown" class="z-100 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 dark:bg-gray-700 dark:divide-gray-600">
              
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div>
                    {% if user.is_authenticated %} 
                      {% if LANGUAGE_CODE == "en-us" %}                           
                          {{ request.user.first_name }}                         
                      {% else %}                             
                          {{ request.user.local_name }}                         
                      {% endif %}
                    {% else %} 
                      {% translate "More Features" %} 
                    {% endif %}   
                  </div>
                  <div class="font-normal truncate text-slate-800 dark:text-slate-400">
                    {% if user.is_authenticated %}
                      {{ request.user.username }}
                    {% else %}
                      {% translate "required login" %}
                    {% endif %}
                  </div>
                </div>
                {% if user.is_authenticated%}
                  
                  <div class="w-auto text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg class="w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                        </svg>
                        Profile
                    </button>
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg class="w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25"/>
                        </svg>
                        Settings
                    </button>
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg class="w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" fill="currentColor">
                            <path d="M18 4H16V9C16 10.0609 15.5786 11.0783 14.8284 11.8284C14.0783 12.5786 13.0609 13 12 13H9L6.846 14.615C7.17993 14.8628 7.58418 14.9977 8 15H11.667L15.4 17.8C15.5731 17.9298 15.7836 18 16 18C16.2652 18 16.5196 17.8946 16.7071 17.7071C16.8946 17.5196 17 17.2652 17 17V15H18C18.5304 15 19.0391 14.7893 19.4142 14.4142C19.7893 14.0391 20 13.5304 20 13V6C20 5.46957 19.7893 4.96086 19.4142 4.58579C19.0391 4.21071 18.5304 4 18 4Z" fill="currentColor"/>
                            <path d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V9C0 9.53043 0.210714 10.0391 0.585786 10.4142C0.960859 10.7893 1.46957 11 2 11H3V13C3 13.1857 3.05171 13.3678 3.14935 13.5257C3.24698 13.6837 3.38668 13.8114 3.55279 13.8944C3.71889 13.9775 3.90484 14.0126 4.08981 13.996C4.27477 13.9793 4.45143 13.9114 4.6 13.8L8.333 11H12C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9V2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z" fill="currentColor"/>
                        </svg>
                        Messages
                    </button>
                    <button type="button" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <svg class="w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                            <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                        </svg>
                        Download
                    </button>
                  </div>

                {% else %}
                  <!-- Add Something here -->

                {% endif %}
                  <div class="p-1 flex flex-row justify-between">
                    <a href="
                      {% if user.is_authenticated %} 
                        {% url 'logout_user' %} 
                      {% else %} 
                        {% url 'user_login' %} 
                      {% endif %} 
                      " 
                      class="px-4 py-2 mr-2 w-1/2 ring-gray-700 rounded-md ring-1 text-sm text-slate-100 bg-blue-500 
                      dark:bg-gray-600 dark:hover:bg-gray-800 transition-all duration-200
                      hover:bg-blue-600 hover:text-slate-50">
                      {% if user.is_authenticated %} 
                        {% translate "Sign out" %} 
                      {% else %} 
                        {% translate "Sign in" %}
                      {% endif %} 
                    </a>
                    <!-- Language Selection -->
                    <div class="flex justify-start w-1/2">
                      <button type="button" 
                        data-dropdown-toggle="language-dropdown-menu" 
                        id="language-selector"
                        aria-haspopup="true" 
                        class="inline-flex items-center font-normal justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        <!-- Display the selected language here -->
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 48 48"
                          class="w-5 h-5 rounded-full mr-2">
                          <!-- The language icon will be displayed here -->
                          <span id="language-icon" class="fi h-4 w-4 ring-1 ring-gray-400 rounded-full mr-2"></span>
                        </svg>
                        <span id="selected-language">Languages</span>
                      </button>

                      <!-- Dropdown -->
                      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" 
                        id="language-dropdown-menu"
                        aria-labelledby="language-selector">
                        <ul class="py-2 font-medium" role="menu">
                          <li>
                            <a href="{% url 'change_language' 'en' %}?next={{ request.path }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" 
                              role="menuitem"
                              data-lang="en">
                              <div class="inline-flex items-center">
                                <span class="fi fi-us fis h-3.5 w-3.5 rounded-full mr-2"></span>
                                {% translate "English" %}
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="{% url 'change_language' 'km' %}?next={{ request.path }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" 
                              role="menuitem"
                              data-lang="km">
                              <div class="inline-flex items-center">
                                <span class="fi fi-kh fis h-3.5 w-3.5 rounded-full mr-2"></span>
                                  {% translate "Khmer" %}
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <button data-collapse-toggle="navbar-language" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-language" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                        </svg>
                      </button>                    
                    </div>

                  </div>       
              </div>               
          </div>
          
          <button               
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"               
            id="user-menu-button"               
            data-collapse-toggle="navbar-user"               
            type="button"               
            aria-controls="navbar-user"               
            aria-expanded="false">               
            <span class="sr-only">
              Open main menu
            </span>               
            <svg class="w-5 h-5" 
              aria-hidden="true" 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 17 14">                   
              <path stroke="currentColor" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              stroke-width="2" 
              d="M1 1h15M1 7h15M1 13h15"/>               
            </svg>             
          </button>
        </div> 
             
      </div>
      <div class="group items-center justify-between hidden md:flex md:w-auto order-3 md:order-2" id="navbar-user">         
        <ul class="flex flex-col w-full first:pl-2 last:pr-2 font-medium border border-gray-100/50 rounded-lg md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 text-slate-800 md:text-slate-800 dark:text-slate-200">           
          <a href="/" title="home page"><li class="rounded-md hover:bg-blue-500/50 dark:hover:bg-blue-500/80 md:dark:hover:bg-blue-500/50 py-2 px-4 no-underline">Home</li></a>
          <li class="rounded-md hover:bg-blue-500/50 dark:hover:bg-blue-500/80 md:dark:hover:bg-blue-500/50 py-2 px-4">Services</li>
          <li class="rounded-md hover:bg-blue-500/50 dark:hover:bg-blue-500/80 md:dark:hover:bg-blue-500/50 py-2 px-4">Products</li>
          <li class="rounded-md hover:bg-blue-500/50 dark:hover:bg-blue-500/80 md:dark:hover:bg-blue-500/50 py-2 px-4">About</li>
          <li class="rounded-md hover:bg-blue-500/50 dark:hover:bg-blue-500/80 md:dark:hover:bg-blue-500/50 py-2 px-4">Contact</li>
        </ul>       
      </div>
  </div>
</nav>

{% block javascript %}
  <script type="text/javascript">
    // Function to update the selected language based on user choice
    function updateSelectedLanguage() {
      const selectedLanguage = localStorage.getItem('selectedLanguage');
      const selectedLanguageElement = document.getElementById('selected-language');
      const languageIconElement = document.getElementById('language-icon');

      // Define language classes
      const languageClasses = {
        en: 'fi-us',
        km: 'fi-kh',
      };

      if (selectedLanguage && selectedLanguageElement && languageIconElement) {
        // Update the text and icon based on the selected language
        if (selectedLanguage === 'en') {
          selectedLanguageElement.textContent = 'English';
        } else if (selectedLanguage === 'km') {
          selectedLanguageElement.textContent = 'Khmer';
        }
        // Clear existing classes from the language icon element
        languageIconElement.className = 'fi h-4 w-4 rounded-full mr-2';
        // Add the appropriate language class to the icon
        languageIconElement.classList.add(languageClasses[selectedLanguage]);
      }
    }

    // Call the function to clear selectedLanguage when the page loads
    document.addEventListener('DOMContentLoaded', () => {
      localStorage.removeItem('selectedLanguage');
      updateSelectedLanguage();

      // Add event listeners to the language selection links
      const languageLinks = document.querySelectorAll('[data-lang]');
      languageLinks.forEach((link) => {
        link.addEventListener('click', (event) => {
          event.preventDefault();
          const selectedLanguage = event.target.getAttribute('data-lang');
          localStorage.setItem('selectedLanguage', selectedLanguage);
          updateSelectedLanguage();
        });
      });
    });



  </script>

{% endblock %}
