{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<nav class="border-gray-200 dark:bg-gray-900 w-full px-8 py-2">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
      <!-- Brand decor-->
      <a href="/" class="flex items-center hover:scale-105 duration-200 no-underline">
          <img src="{% static 'favicon.png' %}" class="h-8 mr-3" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SmartPOS</span>
      </a>

    <div class="flex items-center md:order-2">
        <div class="flex space-x-2">
            <!--DARK/LIGHT -->
            <div class="px-2">
                <!-- Dark/Light Mode Button -->
                <button id="theme-toggle"
                  class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-full text-sm p-2 5"
                  >
                  <!-- Dark SVG Icon -->
                  <svg
                    id="theme-toggle-light-icon"
                    class="w-5 h-5 hidden"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    >
                    </path>
                  </svg>
                  
                  <!-- Light SVG Icon -->
                  <svg
                    id="theme-toggle-dark-icon"
                    class="w-5 h-5 hidden"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                      d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                      >
                    </path>
                  </svg>

                  <!-- Auto SVG icon-->
                  
                  
                </button>
            </div>
            <!-- AVATAR PROFILE -->
            {% if user.is_authenticated %}
              <div class="relative">
                <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="dropdown-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                  <span class="sr-only">Open user menu</span>
                  {% with account_gallery=request.user.user_gallery.all %}
                      {% if account_gallery|length > 0 %}
                          {% with avatar=account_gallery|first %}
                              <img class="w-8 h-8 aspect-square object-cover rounded-full" src="{{ avatar.image.url }}" alt="User Profile Image">
                          {% endwith %}
                      {% else %}
                          <!-- Default profile image -->
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                          </svg>
                      {% endif %}
                  {% endwith %}
                              
                  <div class="absolute right-0 bottom-0 w-3 h-3 rounded-full bg-green-500 animate-pulse dark:border-2 dark:border-white"></div>
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden text-base list-none transition-opacity duration-200 bg-white/80 divide-y divide-gray-100 rounded-lg shadow dark:divide-gray-600 absolute left-auto right-0 top-14 min-w-[144px] max-w-[max-container-width] dark:bg-gray-700 dark:text-white p-2 md:right-auto md:left-0" id="user-dropdown">
                  <div class="p-2">
                   <span class="block text-base font-bold uppercase text-blue-500 dark:text-sky-500">
                    {% if LANGUAGE_CODE == "en-us" %}
                      {{ request.user.first_name }}
                    {% else %}
                        {{ request.user.local_name }}
                    {% endif %}
                   </span>
                    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ request.user.username }}</span>
                  </div>
                  <ul class="justify-start p-1" aria-labelledby="user-menu-button">
                    <li class="flex hover:bg-gray-100 dark:hover:bg-gray-600 px-4 rounded-md h-12 space-x-2">
                        <a href="#" class="flex items-center justify-center align-middle text-sm text-gray-700 dark:text-gray-200 dark:hover:text-white m-0 no-underline">
                          <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 14h6m-3 3v-6M1.857 1h4.286c.473 0 .857.384.857.857v4.286A.857.857 0 0 1 6.143 7H1.857A.857.857 0 0 1 1 6.143V1.857C1 1.384 1.384 1 1.857 1Zm10 0h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857h-4.286A.857.857 0 0 1 11 6.143V1.857c0-.473.384-.857.857-.857Zm-10 10h4.286c.473 0 .857.384.857.857v4.286a.857.857 0 0 1-.857.857H1.857A.857.857 0 0 1 1 16.143v-4.286c0-.473.384-.857.857-.857Z"/>
                          </svg>
                          <p class="mx-3 h-auto">Dashboard</p>
                        </a>
                    </li>

                    <li class="flex hover:bg-gray-100 dark:hover:bg-gray-600 px-4 rounded-md h-12 space-x-2">
                      <a href="#" class="flex items-center justify-center align-middle text-sm text-gray-700 dark:text-gray-200 dark:hover:text-white m-0 no-underline">
                        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M19 11V9a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L12 2.757V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L2.929 4.343a1 1 0 0 0 0 1.414l.536.536L2.757 8H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535L8 17.243V18a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H18a1 1 0 0 0 1-1Z"/>
                            <path d="M10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </g>
                        </svg>
                        <p class="mx-3">Settings</p>
                      </a>
                    </li>
                    
                    <li class="flex hover:bg-gray-100 dark:hover:bg-gray-600 px-4 rounded-md h-12 space-x-2">
                      <a href="#" class="flex items-center justify-center align-middle text-sm text-gray-700 dark:text-gray-200 dark:hover:text-white m-0 no-underline">
                        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 11 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1.75 15.363a4.954 4.954 0 0 0 2.638 1.574c2.345.572 4.653-.434 5.155-2.247.502-1.813-1.313-3.79-3.657-4.364-2.344-.574-4.16-2.551-3.658-4.364.502-1.813 2.81-2.818 5.155-2.246A4.97 4.97 0 0 1 10 5.264M6 17.097v1.82m0-17.5v2.138"/>
                        </svg>
                        <p class="mx-3">Earnings</p>
                      </a>
                    </li>
                    
                  </ul>
                
                  <a href="{% url 'logout_user' %}" class="block py-2 px-4 text-sm text-gray-950 hover:bg-blue-700 hover:text-gray-200 dark:hover:bg-blue-500 dark:text-gray-200 dark:hover:text-white rounded-md text-center no-underline">
                    Sign out
                  </a>
                </div>
              </div>
            {% else %}
              <a href="{% url 'user_login' %}" title="Login now">
                <button class="bg-gray-300​ hover:bg-gray-200 hover:text-blue-500 dark:hover:text-slate-100 dark:text-blue-200 dark:bg-blue-700 rounded-full p-2 dark:hover:bg-blue-500 hover:scale-105 transition-all duration-200">
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                  </svg>
                </button>
              </a>
            {% endif %}
        </div>
        
        <button
          id="user-menu-button"
          data-collapse-toggle="navbar-user"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-user"
          aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>

    </div>

      <!-- MOBILE MENU -->
      <div class="group items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium md:p-2 mt-4 border border-gray-100/50 rounded-lg bg-gray-50 md:flex-row md:space-x-2 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#" class="block px-4 py-2 text-sky-950 dark:text-slate-200 bg-blue-700 rounded md:bg-blue-800/50 duration-200 hover:px-4 md:text-blue-700 md:p-0 md:dark:text-blue-500  active:hover:bg-blue-500/30 hover:bg-blue-500/30 transition-all no-underline" aria-current="page">
              {% trans 'Home' %}
            </a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sky-950 rounded hover:bg-gray-100 md:hover:bg-blue-500/50 duration-200 hover:px-4 md:hover:text-slate-900 md:p-0 dark:text-white md:dark:hover:text-slate-200 dark:hover:bg-blue-500/80 dark:hover:text-white dark:border-gray-700 no-underline">{% trans 'About'%}</a>
          </li>
          <li>
              <a href="#" class="block px-4 py-2 text-sky-950 rounded hover:bg-gray-100 md:hover:bg-blue-500/50 duration-200 hover:px-4 md:hover:text-slate-900 md:p-0 dark:text-white md:dark:hover:text-slate-200 dark:hover:bg-blue-500/80 dark:hover:text-white dark:border-gray-700 no-underline">{% trans 'Products'%}</a>
            </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sky-950 rounded hover:bg-gray-100 md:hover:bg-blue-500/50 duration-200 hover:px-4 md:hover:text-slate-900 md:p-0 dark:text-white md:dark:hover:text-slate-200 dark:hover:bg-blue-500/80 dark:hover:text-white dark:border-gray-700 no-underline">{% trans 'Services'%}</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sky-950 rounded hover:bg-gray-100 md:hover:bg-blue-500/50 duration-200 hover:px-4 md:hover:text-slate-900 md:p-0 dark:text-white md:dark:hover:text-slate-200 dark:hover:bg-blue-500/80 dark:hover:text-white dark:border-gray-700 no-underline">{% trans 'Pricing'%}</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sky-950 rounded hover:bg-gray-100 md:hover:bg-blue-500/50 duration-200 hover:px-4 md:hover:text-slate-900 md:p-0 dark:text-white md:dark:hover:text-slate-200 dark:hover:bg-blue-500/80 dark:hover:text-white dark:border-gray-700 no-underline">{% trans 'Contact'%}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>