{% load i18n %}

<nav class="flex flex-row justify-between container items-center h-[76px]">
    <div class="text-bold text-slate-100">
      EZ STARTUP
    </div>
    <div class="hidden md:block transition-all duration-200">
      <div class="flex flex-row space-x-4 h-74">
        <div class="hover:bg-slate-100/30 hover:text-gray-800 py-2 px-4 rounded-md text-slate-950 cursor-pointer duration-300 active:underline dark:text-slate-100">{% translate "Products" %}</div>
        <div class="hover:bg-slate-100/30 hover:text-gray-800 py-2 px-4 rounded-md text-slate-950 cursor-pointer duration-300 active:underline dark:text-slate-100">{% translate "Services" %}</div>
        <div class="hover:bg-slate-100/30 hover:text-gray-800 py-2 px-4 rounded-md text-slate-950 cursor-pointer duration-300 active:underline dark:text-slate-100">{% translate "About" %}</div>
        <div class="hover:bg-slate-100/30 hover:text-gray-800 py-2 px-4 rounded-md text-slate-950 cursor-pointer duration-300 active:underline dark:text-slate-100">{% translate "Contact Us" %}</div>
        <div class="hover:bg-slate-100/30 hover:text-gray-800 py-2 px-4 rounded-md text-slate-950 cursor-pointer duration-300 active:underline dark:text-slate-100">{% translate "Quicks" %}</div>
      </div>
    </div>
  </nav>