{% extends "addressing/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
{{ title_page }} {% if districts.previous_page_number >= 1 %} | {% translate "Page" %}  {{ districts.previous_page_number }} {% else%} {% endif %}

{% endblock %}

{% block header_title %}{{ title_page }}{% endblock %}

{% block content %}
           
    <section class="flex items-center h-full">
        <div class="w-full max-w-screen-xl px-4 mx-auto lg:px-12 ">
            <!-- Table Header -->
            <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">  
                <div class="flex flex-row items-center justify-between p-4 md:space-y-0 md:space-x-4 bg-gray-50 dark:bg-gray-900">
                    <div class="flex flex-row items-center">
                        <a href="{% url 'addressing:geography' %}" tittle="Go back" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                            </svg>
                        </a>
                        <div class="max-w-sm ml-4">
                            <form class="flex items-center">
                                <label for="districtSearchInput" class="sr-only">Search</label>
                                <div class="relative w-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <input type="text" id="districtSearchInput" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required oninput="searchProvinces(this.value)">
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <a href="#" class="flex flex-row px-4 py-2 items-center justify-center text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="h-6 w-6 md:mr-2 " fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                        </svg>
                        <span class="hidden md:block">Add district</span>
                    </a>
                    
                </div>
            </caption>
 
            <table id="districtTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-base text-gray-900 uppercase dark:text-gray-400">
                    <tr class="bg-white dark:bg-gray-800">
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {% translate "District name" %}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {% translate "Local name" %}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {% translate "Category" %}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {% translate "Communes" %}
                        </th>
                    </tr>
                </thead>
                <tbody id="districtTableBody">

                </tbody>
            </table>
             <!-- Load More Button -->
             <div class="flex justify-center mt-4">
                <button id="loadMoreButton" class="p-3 text-sm font-base rounded-full text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800/80 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-gray-800 border-2 border-gray-600 animate-bounce">
                    <svg class="w-6 h-6 text-gray-800 dark:text-sky-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 1v12m0 0 4-4m-4 4L1 9"/>
                      </svg>
                </button>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const apiUrl = '{{ api_url }}';
        const districtTable = document.getElementById('districtTable');
        const loadMoreButton = document.getElementById('loadMoreButton');
        const districtTableBody = document.getElementById('districtTableBody');
        const itemsPerPage = 10; // Number of items to load at a time
        let offset = 0; // Track the current offset
    
        let data = []; // Store all data initially
    
        function loadDistricts() {
            // Load data from the API and store it in the data variable
            fetch(apiUrl)
                .then(res => res.json())
                .then(result => {
                    data = result;
                    updateTable();
                })
                .catch(err => {
                    console.log(err);
                });
        }
    
        function updateTable() {
            // Get the search query
            const searchQuery = document.getElementById('districtSearchInput').value.trim().toLowerCase();
        
            // Filter the data based on the search query
            const filteredData = data.filter(district => {
                const nameMatch = district.name.toLowerCase().includes(searchQuery);
                const localNameMatch = district.name_local.toLowerCase().includes(searchQuery);
                const categoryMatch = district.type.toLowerCase().includes(searchQuery);
                const communeMatch = district.communes.toString().includes(searchQuery);
                
                // Return true if any of the columns match the search query
                return nameMatch || localNameMatch || categoryMatch || communeMatch;
            });
        
            // Calculate the range for displaying items
            const startIndex = offset;
            const endIndex = offset + itemsPerPage;
            const itemsToDisplay = filteredData.slice(startIndex, endIndex);
        
            // Display the filtered data
            itemsToDisplay.forEach(district => {
                const markup = `<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover-bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-fit">${district.id}</th>
                    <th scope="row" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">${district.name}</th>
                    <td class="px-6 py-3 font-battambang text-base nowrap">${district.name_local}</td>
                    <td class="px-6 py-3 hidden md:block">${district.type}</td>
                    <td class="px-6 py-3">${district.communes}</td>
                </tr>`;
                districtTableBody.insertAdjacentHTML('beforeend', markup);
            });
        
            if (startIndex + itemsToDisplay.length >= filteredData.length) {
                loadMoreButton.style.display = 'none'; // Hide the button when all data is loaded
            }
        }
        
    
        loadDistricts(); // Initial load
        loadMoreButton.addEventListener('click', function () {
            offset += itemsPerPage; // Update the offset to load more items
            updateTable();
        });
    
        // Add an event listener to the search input
        const searchInput = document.getElementById('districtSearchInput');
        searchInput.addEventListener('input', function () {
            offset = 0; // Reset the offset when the search query changes
            districtTableBody.innerHTML = ''; // Clear the table when the search query changes
            updateTable();
        });
    });
    
</script>
    

{% endblock %}